@keyframes fade-in-animation {
  0% { opacity: 0; }
  100% { opacity: 1;}
}



@keyframes fadeOutLeft {
  0% {
    right: 0%;
    opacity: 1;
  }
  50% {
    right: 50%;
    opacity: 0;
  }
  100% {
    right: 50%;
    opacity: 0;
  }
}
@keyframes fadeInRight {
  0% {
    right: 50%;
    opacity: 0;
  }
  50% {
    right: 0%;
    opacity: 1;
  }
  100% {
    right: 0%;
    opacity: 1;
  }
}
@keyframes fadeOutRight {
  0% {
    left: 0%;
    opacity: 1;
  }
  50% {
    left: 50%;
    opacity: 0;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    left: 50%;
    opacity: 0;
  }
  50% {
    left: 0%;
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 1;
  }
}


