*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
main {
  max-width: map-get($map: $viewports, $key: 'mobile');
  margin: 0 auto;
  @media (min-width: map-get($map: $viewports, $key: 'desktop')) {
    max-width: map-get($map: $viewports, $key: 'desktop');
  }

}

.layout-content {
     padding-bottom: 5rem;
}

body {
  box-sizing: border-box;
  background-color: map-get($map: $colors, $key: 'white');
}
