@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Lato', sans-serif;
}
header {
  a {
    @include headerColour;
  }
  .site-name {
    font-size: 3.6rem;
  }
  a, h2 {
    text-decoration: none;
    @include headerColour;
    @include titleFont;
  }
}

.node__content {

  a, h2{
    text-decoration: none;
    @include headerColour;
    @include titleFont;
  }
  h2 {
    text-align: center;
    font-size: 3.2rem;
    margin: 2rem 0 2rem 0;
    @include headerColour;
  }
  p {
    font-size: 1.6rem;
    @include defaultFont;
  }

}

.layout-content, .layout-container {
  a, h2, h1{
    text-decoration: none;
    @include headerColour;
    @include titleFont;
  }
  h2, h1 {
    text-align: center;
    font-size: 2.8rem;
    margin: 2rem 0 2rem 0;
    @include headerColour;
  }
}
