input.form-submit {
  border-radius: 8px;
  color: white;
  background-color: map-get($map: $colors, $key: 'primary-green');
  font-size: map-get($map: $desktop-fontSizes, $key: 'body-small');
  line-height: map-get($map: $desktop-lineHeight, $key: 'body-small');
  height: 4rem;
  padding: 0 1rem;
  @include defaultFont;

  @media (min-width: map-get($map: $viewports, $key: 'desktop')) {
      font-size: map-get($map: $desktop-fontSizes, $key: 'body-small');
      line-height: map-get($map: $desktop-lineHeight, $key: 'body-small');
  }
}
