.views-view-grid{
  .views-row {
    margin-bottom: 6rem;
    display: flex;
      .views-col {
      margin-right: 18rem;
      border-radius: 2rem;
      box-shadow: 0 1.5rem 4rem rgba(map-get($map: $colors, $key: 'black'), .15);
      overflow: hidden;

      &:last-child {
        margin-right: 0;
      }

      .views-field.views-field-title {
      text-align: center;
      }
      .views-field-field-displ {
        img {
          @include imgsize1;
          max-height: 13rem;
        }
      }
      .views-field.views-field-recipe-prep-time {
        display: flex;
        padding: 0 1rem 0 1rem;
        justify-content: center;
        margin-bottom: 5px;
        span {
          font-weight: bolder;
        }
        .field-content {
          margin-left: 0.5rem;
        }
      }

      .views-field-field-recipe-description {
        padding: 0 1rem 4rem;
        text-align: center;
        .views-label-field-recipe-description {
          font-weight: bolder;
        }
      }
    }

  }
}
