{#
/**
 * @file
 * Theme override to display the user login page.
#}

<div class="layout-container">

  <main role="main" class="login_main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
      <div class="layout-content-login">
      <div class="login__cover begin">
      <div class="login__cover__wrapper">
          <div class="login__cover__wrapper__text">
          <h1>Hey There!</h1>
          <p>Enter your details and join us in exploring the wonderful recipes of Africa</p>
          </div>
          <div class="login__cover__wrapper__button">
            <button class="login__cover__wrapper__button__register">CLICK HERE TO LOGIN</button>
          </div>
          <a href="{{ url('<front>') }}">Go to Home</a>
        </div>
      </div>
        <div class="login">
          {{ page.content.afrotheme_page_title }}
          {{ page.content.afrotheme_content }}
        </div>
         <div class="register__cover begin">
           <div class="register__cover__wrapper">
            <div class="register__cover__wrapper__text">
            <h1>Welcome Back!</h1>
            <p>Login  to save, add, like or comment on our recipes</p>
            </div>
            <div class="register__cover__wrapper__button">
              <button class="register__cover__wrapper__button__login">CLICK HERE TO REGISTER</button>
            </div>
             <a href="{{ url('<front>') }}">Go to Home</a>
           </div>
        </div>
        <div class="register">
          {{ page.content.afroregisterblock }}
        </div>
      </div>{# /.layout-content #}
  </main>

</div>{# /.layout-container #}
