@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


footer {
    height: 5rem;
    background-color: map-get($map: $colors, $key: 'primary-green');
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    .region-footer-first {
      max-width: map-get($map: $viewports, $key: 'mobile');
      margin: 0 auto;
      @media (min-width: map-get($map: $viewports, $key: 'desktop')) {
        max-width: map-get($map: $viewports, $key: 'desktop');
      }
    }
      .field--name-body {
        position: absolute;
        left: 2%;
        margin-top: 1%;
        color: white;
        text-decoration: none;
        font-family: 'Lobster';
        font-size: 1.4rem;
        .copy-wrapper {
          display: flex;
          align-items: center;
          .copyright {
            font-size: x-large;
            margin-right: .25rem;
          }
        }
      }
      ul.menu {
      float: right;
      margin-top: 1%;
      display: flex;
      width: 25%;
      justify-content: space-between;
        a, span {
          color: white;
          text-decoration: none;
          font-family: 'Lobster';
          font-size: 1.4rem;
        }
    }
}
