.form-item {
  display: flex;
  flex-direction: column;

  label {
    color: map-get($map: $colors, $key: 'primary-green');
  }

  input, textarea {
    font-family: Georgia,"Times New Roman",Times,serif;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid map-get($map: $colors, $key: 'primary-green');
    border-radius: 10px;
    background-color: map-get($map: $colors, $key: 'white');
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
}
