header {
  padding: 2rem 0;
  .region-header {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    max-width: map-get($map: $viewports, $key: 'mobile');

    @media (min-width: map-get($map: $viewports, $key: 'desktop')) {
      max-width: map-get($map: $viewports, $key: 'desktop');
    }

    .block-system-branding-block {
      flex-basis: 50%;

      .site-name a {
        color: map-get($map: $colors, $key: 'primary-green');
      }
    }

  }
}

