.menu--main {
  flex-basis: 50%;

  .menu {
    display: flex;
    justify-content: right;
    &-item {
      margin-right: 3rem;
      &Link {
        color: map-get($map: $colors, $key: 'primary-green');
        font-size: 1.8rem;
        padding-bottom: 0.25rem;
        &.is-active, &:hover {
          color: map-get($map: $colors, $key: 'primary-green');
          border-bottom: 1px solid map-get($map: $colors, $key: 'primary-green');
        }
      }
    }
  }
}


