#search-block-form {
    align-items: center;
    display: flex;
    justify-content: center;

    input.form-search {
        border-radius: 8px;
        height: 4rem;
        margin-bottom: 0;
        width: 40rem;
    }

    input.form-submit {
        margin-left: 1rem;
    }
}