.path-frontpage main {
  max-width: unset;
  .layout-front {
    .search-block-form {
      position: absolute;
      left: 0;
      @include center();
      z-index: 10;
      width: 100%;
      text-align: center;
        h2 {
          color: map-get($map: $colors, $key: 'white');
          font-size: 2rem;
          margin-right: 5rem;
        }
    }

    .field--type-image {
      .field__item {
        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .layout-card-grid {
      max-width: map-get($map: $viewports, $key: 'mobile');
      margin: 0 auto;
      @media (min-width: map-get($map: $viewports, $key: 'desktop')) {
        max-width: map-get($map: $viewports, $key: 'desktop');
      }
    }
  }
}

