@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
main {
  .layout-content-login {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 100vh;

    .login__cover{
      &.no_slide {
        @include login_styles(login, end, false);
      }
      &.begin{
        @include login_styles(login, start, false);
      }
      &.slide {
        @include login_styles(login, end, true);
      }
    }

    .register__cover {
      &.no_slide{
        @include login_styles(register, end, false);
      }
      &.begin {
        @include login_styles(register, start, false);
      }
      &.slide {
        @include login_styles(register, end, true);
      }
    }

      .login {
        order: 2;
        .page-title {
          font-size: 7.2rem;
        }
        .user-login-form{
          label {
            display: none;
          }
          input {
            width: 40rem;
            height: 5rem;
            border-radius: 100px;
            background-color: #C4C4C4;
            font-size: 2rem;
            outline: none;
            padding: 0 2rem;
            &:focus::placeholder {
              color: transparent;
            }
          }
          div#edit-actions {
            text-align: center;
            input#edit-submit {
              border-radius: 10px;
              width: 15rem;
              height: 6rem;
              @include titleFont;
              font-size: 2.5rem;
              font-weight: 100 !important;
            }
          }
        }
      }
    .register {
      order: 1;
      width: min-content;
      h2 {
        font-size: 7.2rem;
      }
      .user-register-form{
        label {
          display: none;
        }
        input  {
          width: 40rem;
          height: 5rem;
          border-radius: 100px;
          background-color: #C4C4C4;
          outline: none;
          padding: 0 2rem;
          font-size: 2rem;
          &:focus::placeholder {
            color: transparent;
          }
        }
        div#edit-actions--2 {
          text-align: center;
          input#edit-submit--2 {
            width: 25rem;
            height: 6rem;
            @include titleFont;
            font-size: 2.5rem;
            font-weight: 100 !important;
            padding: 0 1rem;
            background-image: linear-gradient(to bottom, #011707, #0D8930);
            color: white;
          }
        }
      }
    }
  }
}
