@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
.page-node-type-recipe {

  main {
    padding-bottom: 5rem;
    @include defaultFont;
  }
  .field__label {
    font-size: map-get($map: $desktop-fontSizes, $key:'Heading3' );
    line-height: map-get($map: $desktop-lineHeight, $key:'Heading3');
    margin-bottom: 2rem;
    @include headerColour;
  }

  .layout {

    &-section-banner {
      margin-bottom: 5rem;

      .field__item {
        text-align: center;

        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &--threecol-section {
      text-align: center;
      margin-bottom: 5rem;

      .layout__region {
        padding: 20px;
        &--first, &--third {
          background-color: map-get($map: $colors, $key: 'primary-green');

          .field__label, .field__item {
              color: map-get($map: $colors, $key:'white' );
          }
        }
      }
    }

    &-section-description {
      margin-bottom: 2.5rem;
    }

    &-section-ingredients {
      margin-bottom: 2.5rem;
    }

    &-section-steps {
      .field__item {
        border-bottom: 2px solid map-get($map: $colors, $key:'primary-green');
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        .step {
          font-size: map-get($map: $desktop-fontSizes, $key: 'body-large');
          line-height: map-get($map: $desktop-lineHeight, $key: 'body-large');
          margin-bottom: 2rem;
          font-weight: bolder;
        }
        .instruction {
          font-size: map-get($map: $desktop-fontSizes, $key:'body');
          line-height: map-get($map: $desktop-lineHeight, $key:'body');
        }

        &:last-child() {
          border: none;
        }
      }
    }
  }
}


