@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");
@keyframes fade-in-animation {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeOutLeft {
  0% {
    right: 0%;
    opacity: 1; }
  50% {
    right: 50%;
    opacity: 0; }
  100% {
    right: 50%;
    opacity: 0; } }

@keyframes fadeInRight {
  0% {
    right: 50%;
    opacity: 0; }
  50% {
    right: 0%;
    opacity: 1; }
  100% {
    right: 0%;
    opacity: 1; } }

@keyframes fadeOutRight {
  0% {
    left: 0%;
    opacity: 1; }
  50% {
    left: 50%;
    opacity: 0; }
  100% {
    left: 50%;
    opacity: 0; } }

@keyframes fadeInLeft {
  0% {
    left: 50%;
    opacity: 0; }
  50% {
    left: 0%;
    opacity: 1; }
  100% {
    left: 0%;
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

main {
  max-width: 480px;
  margin: 0 auto; }
  @media (min-width: 1280px) {
    main {
      max-width: 1280px; } }

.layout-content {
  padding-bottom: 5rem; }

body {
  box-sizing: border-box;
  background-color: #FFFFFF; }

body {
  font-family: 'Lato', sans-serif; }

header a {
  color: #52796F; }

header .site-name {
  font-size: 3.6rem; }

header a, header h2 {
  text-decoration: none;
  color: #52796F;
  font-family: 'Lobster', cursive;
  font-weight: 400; }

.node__content a, .node__content h2 {
  text-decoration: none;
  color: #52796F;
  font-family: 'Lobster', cursive;
  font-weight: 400; }

.node__content h2 {
  text-align: center;
  font-size: 3.2rem;
  margin: 2rem 0 2rem 0;
  color: #52796F; }

.node__content p {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif; }

.layout-content a, .layout-content h2, .layout-content h1, .layout-container a, .layout-container h2, .layout-container h1 {
  text-decoration: none;
  color: #52796F;
  font-family: 'Lobster', cursive;
  font-weight: 400; }

.layout-content h2, .layout-content h1, .layout-container h2, .layout-container h1 {
  text-align: center;
  font-size: 2.8rem;
  margin: 2rem 0 2rem 0;
  color: #52796F; }

input.form-submit {
  border-radius: 8px;
  color: white;
  background-color: #52796F;
  font-size: 1.4rem;
  line-height: 1.8rem;
  height: 4rem;
  padding: 0 1rem;
  font-family: 'Open Sans', sans-serif; }
  @media (min-width: 1280px) {
    input.form-submit {
      font-size: 1.4rem;
      line-height: 1.8rem; } }

.views-view-grid .views-row {
  margin-bottom: 6rem;
  display: flex; }
  .views-view-grid .views-row .views-col {
    margin-right: 18rem;
    border-radius: 2rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden; }
    .views-view-grid .views-row .views-col:last-child {
      margin-right: 0; }
    .views-view-grid .views-row .views-col .views-field.views-field-title {
      text-align: center; }
    .views-view-grid .views-row .views-col .views-field-field-displ img {
      width: 100%;
      height: auto;
      max-height: 13rem; }
    .views-view-grid .views-row .views-col .views-field.views-field-recipe-prep-time {
      display: flex;
      padding: 0 1rem 0 1rem;
      justify-content: center;
      margin-bottom: 5px; }
      .views-view-grid .views-row .views-col .views-field.views-field-recipe-prep-time span {
        font-weight: bolder; }
      .views-view-grid .views-row .views-col .views-field.views-field-recipe-prep-time .field-content {
        margin-left: 0.5rem; }
    .views-view-grid .views-row .views-col .views-field-field-recipe-description {
      padding: 0 1rem 4rem;
      text-align: center; }
      .views-view-grid .views-row .views-col .views-field-field-recipe-description .views-label-field-recipe-description {
        font-weight: bolder; }

footer {
  height: 5rem;
  background-color: #52796F;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0; }
  footer .region-footer-first {
    max-width: 480px;
    margin: 0 auto; }
    @media (min-width: 1280px) {
      footer .region-footer-first {
        max-width: 1280px; } }
  footer .field--name-body {
    position: absolute;
    left: 2%;
    margin-top: 1%;
    color: white;
    text-decoration: none;
    font-family: 'Lobster';
    font-size: 1.4rem; }
    footer .field--name-body .copy-wrapper {
      display: flex;
      align-items: center; }
      footer .field--name-body .copy-wrapper .copyright {
        font-size: x-large;
        margin-right: .25rem; }
  footer ul.menu {
    float: right;
    margin-top: 1%;
    display: flex;
    width: 25%;
    justify-content: space-between; }
    footer ul.menu a, footer ul.menu span {
      color: white;
      text-decoration: none;
      font-family: 'Lobster';
      font-size: 1.4rem; }

.form-item {
  display: flex;
  flex-direction: column; }
  .form-item label {
    color: #52796F; }
  .form-item input, .form-item textarea {
    font-family: Georgia,"Times New Roman",Times,serif;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #52796F;
    border-radius: 10px;
    background-color: #FFFFFF;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px; }

header {
  padding: 2rem 0; }
  header .region-header {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 480px; }
    @media (min-width: 1280px) {
      header .region-header {
        max-width: 1280px; } }
    header .region-header .block-system-branding-block {
      flex-basis: 50%; }
      header .region-header .block-system-branding-block .site-name a {
        color: #52796F; }

.layout-landing-image {
  position: relative; }

.menu--main {
  flex-basis: 50%; }
  .menu--main .menu {
    display: flex;
    justify-content: right; }
    .menu--main .menu-item {
      margin-right: 3rem; }
      .menu--main .menu-itemLink {
        color: #52796F;
        font-size: 1.8rem;
        padding-bottom: 0.25rem; }
        .menu--main .menu-itemLink.is-active, .menu--main .menu-itemLink:hover {
          color: #52796F;
          border-bottom: 1px solid #52796F; }

.block-page-title-block {
  margin-bottom: 4.5rem; }

#search-block-form {
  align-items: center;
  display: flex;
  justify-content: center; }
  #search-block-form input.form-search {
    border-radius: 8px;
    height: 4rem;
    margin-bottom: 0;
    width: 40rem; }
  #search-block-form input.form-submit {
    margin-left: 1rem; }

/** nav pager **/
nav.pager {
  font-size: 1.8rem;
  font-weight: bold; }

.page-node-type-page .node__content {
  margin: 0 15%; }

.block-webform {
  margin: 0 auto;
  width: fit-content; }

.path-frontpage main {
  max-width: unset; }
  .path-frontpage main .layout-front .search-block-form {
    position: absolute;
    left: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 100%;
    text-align: center; }
    .path-frontpage main .layout-front .search-block-form h2 {
      color: #FFFFFF;
      font-size: 2rem;
      margin-right: 5rem; }
  .path-frontpage main .layout-front .field--type-image .field__item img {
    width: 100%;
    height: auto; }
  .path-frontpage main .layout-front .layout-card-grid {
    max-width: 480px;
    margin: 0 auto; }
    @media (min-width: 1280px) {
      .path-frontpage main .layout-front .layout-card-grid {
        max-width: 1280px; } }

main .layout-content-login {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 100vh; }
  main .layout-content-login .login__cover.no_slide {
    animation-name: fadeInRight;
    animation-fill-mode: both;
    animation-duration: 10s;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%;
    z-index: 100;
    opacity: 1; }
    main .layout-content-login .login__cover.no_slide .login__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 31rem;
      height: 20rem;
      margin: -15.5rem 0 0 -15.5rem; }
      main .layout-content-login .login__cover.no_slide .login__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.no_slide .login__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .login__cover.no_slide .login__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .login__cover.no_slide .login__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.no_slide .login__cover__wrapper__button__register {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .login__cover.no_slide .login__cover__wrapper a {
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .login__cover.begin {
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%;
    opacity: 0;
    right: 0;
    z-index: -1; }
    main .layout-content-login .login__cover.begin .login__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 31rem;
      height: 20rem;
      margin: -15.5rem 0 0 -15.5rem; }
      main .layout-content-login .login__cover.begin .login__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.begin .login__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .login__cover.begin .login__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .login__cover.begin .login__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.begin .login__cover__wrapper__button__register {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .login__cover.begin .login__cover__wrapper a {
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .login__cover.slide {
    animation-name: fadeOutLeft;
    animation-fill-mode: both;
    animation-duration: 10s;
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%; }
    main .layout-content-login .login__cover.slide .login__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 31rem;
      height: 20rem;
      margin: -15.5rem 0 0 -15.5rem; }
      main .layout-content-login .login__cover.slide .login__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.slide .login__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .login__cover.slide .login__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .login__cover.slide .login__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .login__cover.slide .login__cover__wrapper__button__register {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .login__cover.slide .login__cover__wrapper a {
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .register__cover.no_slide {
    animation-name: fadeInLeft;
    animation-fill-mode: both;
    animation-duration: 10s;
    z-index: 100;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%; }
    main .layout-content-login .register__cover.no_slide .register__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45rem;
      height: 20rem;
      margin: -22.5rem 0 0 -22.5rem; }
      main .layout-content-login .register__cover.no_slide .register__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.no_slide .register__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .register__cover.no_slide .register__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .register__cover.no_slide .register__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.no_slide .register__cover__wrapper__button__login {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .register__cover.no_slide .register__cover__wrapper a {
        color: #FFFFFF;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .register__cover.begin {
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%;
    z-index: 100;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%; }
    main .layout-content-login .register__cover.begin .register__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45rem;
      height: 20rem;
      margin: -22.5rem 0 0 -22.5rem; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__button__login {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper a {
        color: #FFFFFF;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
    main .layout-content-login .register__cover.begin .register__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45rem;
      height: 20rem;
      margin: -22.5rem 0 0 -22.5rem; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.begin .register__cover__wrapper__button__login {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .register__cover.begin .register__cover__wrapper a {
        color: #FFFFFF;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .register__cover.slide {
    animation-name: fadeOutRight;
    animation-fill-mode: both;
    animation-duration: 10s;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #011707, #0D8930);
    width: 50%;
    height: 100%; }
    main .layout-content-login .register__cover.slide .register__cover__wrapper {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 45rem;
      height: 20rem;
      margin: -22.5rem 0 0 -22.5rem; }
      main .layout-content-login .register__cover.slide .register__cover__wrapper__text {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.slide .register__cover__wrapper__text h1 {
          font-family: 'Lobster', cursive;
          font-weight: 400;
          color: #FFFFFF !important;
          font-size: 7.2rem; }
        main .layout-content-login .register__cover.slide .register__cover__wrapper__text p {
          font-family: 'Open Sans', sans-serif;
          color: #FFFFFF !important;
          font-size: 2rem; }
      main .layout-content-login .register__cover.slide .register__cover__wrapper__button {
        margin-bottom: 3rem; }
        main .layout-content-login .register__cover.slide .register__cover__wrapper__button__login {
          width: 20rem;
          height: 6rem;
          border-radius: 45px;
          background-color: #074C1B;
          border: solid 2px #FFFFFF;
          color: #FFFFFF;
          font-size: 2rem;
          font-family: 'Lobster', cursive;
          font-weight: 400; }
      main .layout-content-login .register__cover.slide .register__cover__wrapper a {
        color: #FFFFFF;
        font-size: 2rem;
        text-decoration: underline;
        font-family: 'Open Sans', sans-serif; }
  main .layout-content-login .login {
    order: 2; }
    main .layout-content-login .login .page-title {
      font-size: 7.2rem; }
    main .layout-content-login .login .user-login-form label {
      display: none; }
    main .layout-content-login .login .user-login-form input {
      width: 40rem;
      height: 5rem;
      border-radius: 100px;
      background-color: #C4C4C4;
      font-size: 2rem;
      outline: none;
      padding: 0 2rem; }
      main .layout-content-login .login .user-login-form input:focus::placeholder {
        color: transparent; }
    main .layout-content-login .login .user-login-form div#edit-actions {
      text-align: center; }
      main .layout-content-login .login .user-login-form div#edit-actions input#edit-submit {
        border-radius: 10px;
        width: 15rem;
        height: 6rem;
        font-family: 'Lobster', cursive;
        font-weight: 400;
        font-size: 2.5rem;
        font-weight: 100 !important; }
  main .layout-content-login .register {
    order: 1;
    width: min-content; }
    main .layout-content-login .register h2 {
      font-size: 7.2rem; }
    main .layout-content-login .register .user-register-form label {
      display: none; }
    main .layout-content-login .register .user-register-form input {
      width: 40rem;
      height: 5rem;
      border-radius: 100px;
      background-color: #C4C4C4;
      outline: none;
      padding: 0 2rem;
      font-size: 2rem; }
      main .layout-content-login .register .user-register-form input:focus::placeholder {
        color: transparent; }
    main .layout-content-login .register .user-register-form div#edit-actions--2 {
      text-align: center; }
      main .layout-content-login .register .user-register-form div#edit-actions--2 input#edit-submit--2 {
        width: 25rem;
        height: 6rem;
        font-family: 'Lobster', cursive;
        font-weight: 400;
        font-size: 2.5rem;
        font-weight: 100 !important;
        padding: 0 1rem;
        background-image: linear-gradient(to bottom, #011707, #0D8930);
        color: white; }

.page-node-type-recipe main {
  padding-bottom: 5rem;
  font-family: 'Open Sans', sans-serif; }

.page-node-type-recipe .field__label {
  font-size: 2.8rem;
  line-height: 3.2rem;
  margin-bottom: 2rem;
  color: #52796F; }

.page-node-type-recipe .layout-section-banner {
  margin-bottom: 5rem; }
  .page-node-type-recipe .layout-section-banner .field__item {
    text-align: center; }
    .page-node-type-recipe .layout-section-banner .field__item img {
      max-width: 100%;
      height: auto; }

.page-node-type-recipe .layout--threecol-section {
  text-align: center;
  margin-bottom: 5rem; }
  .page-node-type-recipe .layout--threecol-section .layout__region {
    padding: 20px; }
    .page-node-type-recipe .layout--threecol-section .layout__region--first, .page-node-type-recipe .layout--threecol-section .layout__region--third {
      background-color: #52796F; }
      .page-node-type-recipe .layout--threecol-section .layout__region--first .field__label, .page-node-type-recipe .layout--threecol-section .layout__region--first .field__item, .page-node-type-recipe .layout--threecol-section .layout__region--third .field__label, .page-node-type-recipe .layout--threecol-section .layout__region--third .field__item {
        color: #FFFFFF; }

.page-node-type-recipe .layout-section-description {
  margin-bottom: 2.5rem; }

.page-node-type-recipe .layout-section-ingredients {
  margin-bottom: 2.5rem; }

.page-node-type-recipe .layout-section-steps .field__item {
  border-bottom: 2px solid #52796F;
  padding-bottom: 2rem;
  margin-bottom: 2rem; }
  .page-node-type-recipe .layout-section-steps .field__item .step {
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 2rem;
    font-weight: bolder; }
  .page-node-type-recipe .layout-section-steps .field__item .instruction {
    font-size: 1.8rem;
    line-height: 2.2rem; }
  .page-node-type-recipe .layout-section-steps .field__item:last-child() {
    border: none; }
