@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($width / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}

@mixin login_styles($cover, $state, $slide: false) {
  @if not $slide and $cover == login and $state == end {
    @include fade-in-right;
    @include login_slide;
    z-index: 100;
    opacity: 1;

  } @elseif not $slide and $cover == login and $state == start{
    @include login_slide;
    opacity: 0;
    right: 0;
    z-index: -1;
  } @elseif $slide and $cover == login {
      @include fade-out-left;
      @include login_slide;
  } @elseif not $slide and $cover == register and $state == end {
      @include fade-in-left;
      z-index: 100;
      opacity: 1;
      @include register_slide;
  } @elseif not $slide and $cover == register and $state == start {
    @include register_slide;
    z-index: 100;
    opacity: 1;
    @include register_slide;
  }  @elseif $slide and $cover == register and $state == end{
      @include fade-out-right;
      @include register_slide;
    }
  }


