@mixin headerColour {
  color: map-get($map: $colors, $key: 'primary-green');
}
@mixin imgsize1 {
  width: 100%;
  height: auto;
}

@mixin titleFont {
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

@mixin defaultFont {
  font-family: 'Open Sans', sans-serif;
}

@mixin fade-in {
  animation-name: fade-in-animation;
  animation-fill-mode: both;
  animation-duration: 1s;
}


@mixin fade-out-left {
  animation-name: fadeOutLeft;
  animation-fill-mode: both;
  animation-duration: 10s;
}

@mixin fade-out-right {
  animation-name: fadeOutRight;
  animation-fill-mode: both;
  animation-duration: 10s;
}

@mixin fade-in-right {
  animation-name: fadeInRight;
  animation-fill-mode: both;
  animation-duration: 10s;
}

@mixin fade-in-left {
  animation-name: fadeInLeft;
  animation-fill-mode: both;
  animation-duration: 10s;
}

@mixin login_slide {
  position: absolute;
  top: 0;
  right: 0;
  background-image: linear-gradient(to bottom, #011707, #0D8930);
  width: 50%;
  height: 100%;
  .login__cover__wrapper {
    text-align: center;
    @include center($width: 31rem, $height: 20rem);

    &__text {
      margin-bottom: 3rem;

      h1 {
        @include titleFont;
        color: map-get($map: $colors, $key: 'white') !important;
        font-size: 7.2rem;
      }

      p {
        @include defaultFont;
        color: map-get($map: $colors, $key: 'white') !important;
        font-size: 2rem;
      }
    }

    &__button {
      margin-bottom: 3rem;

      &__register {
        width: 20rem;
        height: 6rem;
        border-radius: 45px;
        background-color: #074C1B;
        border: solid 2px map-get($map: $colors, $key: 'white');
        color: map-get($map: $colors, $key: 'white');
        font-size: 2rem;
        @include titleFont;
      }
    }

    a {
      color: white;
      font-size: 2rem;
      text-decoration: underline;
      @include defaultFont;
    }
  }
}

@mixin register_slide {
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, #011707, #0D8930);
  width: 50%;
  height: 100%;
  .register__cover__wrapper {
    text-align: center;
    @include center($width: 45rem, $height: 20rem);

    &__text {
      margin-bottom: 3rem;
      h1 {
        @include titleFont;
        color: map-get($map: $colors, $key: 'white') !important;
        font-size: 7.2rem;
      }

      p {
        @include defaultFont;
        color: map-get($map: $colors, $key: 'white') !important;
        font-size: 2rem;
      }
    }

    &__button {
      margin-bottom: 3rem;

      &__login {
        width: 20rem;
        height: 6rem;
        border-radius: 45px;
        background-color: #074C1B;
        border: solid 2px map-get($map: $colors, $key: 'white');
        color: map-get($map: $colors, $key: 'white');
        font-size: 2rem;
        @include titleFont;
      }
    }

    a {
      color: map-get($map: $colors, $key: 'white');
      font-size: 2rem;
      text-decoration: underline;
      @include defaultFont;
    }
  }
}

